body{
	margin: 0;
	padding: 0;
	background-color: white;
}
.section1{
	
	opacity: 0.8;
}
.section2{
	
	opacity: 0.8;
}
.section3{
	
	opacity: 0.8;
}
.section4{
	
	opacity: 0.8;
}
.section5{
	
	opacity: 0.8;
}
.section6{
	
	opacity: 0.8;
}
.section7{
	
	opacity: 0.8;
}
#p1{
	position: absolute;
	right: 20%;
	bottom: 10%;
	transition: 0.5;
}
#p2{
	position: absolute;
	right: 20%;
	bottom: 10%;
	transition: 0.5;
}
#p3{
	position: absolute;
	right: 20%;
	bottom: 10%;
	transition: 0.5;
}
#p4{
	position: absolute;
	right: 20%;
	bottom: 10%;
	transition: 0.5;
}
#p5{
	position: absolute;
	right: 20%;
	bottom: 10%;
	transition: 0.5;
}
#p6{
	position: absolute;
	right: 20%;
	bottom: 10%;
	transition: 0.5;
}
#p7{
	position: absolute;
	right: 20%;
	bottom: 10%;
	transition: 0.5;
}
.p1b{
	transform: ;
}